<mat-card class="container">
  <mat-card-header>
    <strong>Recuperar contraseña de postulante</strong>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>Correo electronico</mat-label>
          <input matInput formControlName="correo" type="email" required>
        </mat-form-field>

      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="enviar()">
      Enviar
    </button>

    <button mat-raised-button color="accent" (click)="cancelar()">
      Cancelar
    </button>

  </mat-card-actions>
</mat-card>
