<mat-card class="container">
  <mat-card-header>
    Datos de la experiencia laboral
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="container" fxLayout="row wrap" fxLayoutGap="40px" fxLayoutAlign="center">
        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>RUC de la empresa</mat-label>
          <input matInput formControlName="rucEmpresa" appearance="fill" required>
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Nombre de la empresa</mat-label>
          <input matInput formControlName="nombreEmpresa">
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Tipo de empresa</mat-label>
          <mat-select formControlName="tipoEmpresa">
            <mat-option *ngFor="let t of tiposEmpresa" [value]="t.cod">
              {{t.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Actividad de la empresa</mat-label>
          <mat-select formControlName="actividadEmpresa">
            <mat-option *ngFor="let t of tiposActividad" [value]="t.cod">
              {{t.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Pais</mat-label>
          <mat-select formControlName="idDatoPais" (ngModelChange)="onSelectPais($event)">
            <mat-option *ngFor="let s of pais" [value]="s.cod">
              {{s.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="idDpto" (ngModelChange)="onSelectDepartamento($event)">
            <mat-option *ngFor="let s of departamento" [value]="s.cod">
              {{s.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Provincia</mat-label>
          <mat-select formControlName="idProv" (ngModelChange)="onSelectProvincia($event)">
            <mat-option *ngFor="let s of provincia" [value]="s.cod">
              {{s.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Distrito</mat-label>
          <mat-select formControlName="idDist">
            <mat-option *ngFor="let s of distrito" [value]="s.cod">
              {{s.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Direccion</mat-label>
          <input matInput formControlName="direccion">
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Telefono</mat-label>
          <input matInput formControlName="telefono">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="calc(50%-40px)">
          <mat-label>Fecha de ingreso</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaIngreso">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="calc(50%-40px)">
          <mat-label>Fecha de retiro</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="fechaRetiro">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <div fxFlex="calc(50%-40px)" fxLayout="column">
          <mat-label>Trabaja actualmente?</mat-label>
          <mat-radio-group formControlName="trabajaActualmente" fxLayoutGap="20px">
            <mat-radio-button value="S">Si</mat-radio-button>
            <mat-radio-button value="N">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Años trabajo</mat-label>
          <input type="number" matInput formControlName="añosTrabajados">
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Meses trabajo</mat-label>
          <input type="number" matInput formControlName="mesesTrabajados">
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Dias trabajo</mat-label>
          <input type="number" matInput formControlName="diasTrabajados">
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Cargo desempeñado</mat-label>
          <input matInput formControlName="cargo">
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Area</mat-label>
          <input matInput formControlName="area">
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Dedicacion</mat-label>
          <mat-select formControlName="dedicacion">
            <mat-option *ngFor="let t of tiposDedicacion" [value]="t.cod">
              {{t.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div fxFlex="calc(50%-40px)" fxLayout="column" >
          <mat-label>Manejó Personal?</mat-label>
          <mat-radio-group formControlName="manejoPersonal" fxLayoutGap="20px">
            <mat-radio-button value="S">Si</mat-radio-button>
            <mat-radio-button value="N">No</mat-radio-button>
          </mat-radio-group>

        </div>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Salario en soles</mat-label>
          <input matInput type="number" formControlName="salario">
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Nombre del jefe inmediato</mat-label>
          <input matInput formControlName="nombreJefe">
        </mat-form-field>


        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Cargo del jefe inmediato</mat-label>
          <input matInput formControlName="cargoJefe">
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Numero contacto del jefe inmediato</mat-label>
          <input matInput formControlName="numeroContacto">
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-80px)">
          <mat-label>Funciones desempes</mat-label>
          <input matInput formControlName="funciones">
        </mat-form-field>

        <mat-form-field fxFlex="calc(50%-40px)">
          <mat-label>Numero de folio</mat-label>
          <input matInput formControlName="numeroFolio">
        </mat-form-field>

        <app-upload-files [id]="this.idExperiencia" [idProceso]="this.idProceso">

        </app-upload-files>


      </div>
    </form>
  </mat-card-content>
  <mat-card-actions >
    <div fxLayout="row wrap" fxLayoutGap="40px" class="container">
      <button fxFlex="calc(50%-40px)" mat-raised-button color="primary" (click)="grabar()">
        Registrar
      </button>

      <button fxFlex="calc(50%-40px)" mat-raised-button color="accent" (click)="cancelar()">
        Cancelar
      </button>
    </div>


  </mat-card-actions>
</mat-card>
