<mat-form-field>
  <mat-label>Tipo de documento</mat-label>
  <mat-select [(ngModel)]="idTipoDocumento">
    <mat-option *ngFor="let t of tiposDocumento" [value]="t.documentos.idDocumento">
      {{t.documentos.glsDocumento}}
    </mat-option>
  </mat-select>
</mat-form-field>


<button mat-raised-button color="primary" (click)="fileInput.click()">
  <input #fileInput type="file" accept="application/pdf" multiple (change)="selectFiles($event)"
    style="display:none;" />
  <mat-icon>file_upload</mat-icon>
  Cargar imagenes
</button>

<mat-list role="list" *ngFor="let s of cargarArchivos;let i = index">
  <mat-list-item role="listitem">{{s.tipoDocumento}} - {{s.archivo.name}} <button mat-icon-button color="warn" (click)="eliminar(i)">
    <mat-icon>delete</mat-icon></button>
  </mat-list-item>
</mat-list>


<div *ngIf="this.id">
<h3>Imagenes subidas</h3>
<mat-list role="list" *ngFor="let s of fileInfos;let i = index">
  <mat-list-item role="listitem">{{s.idDocumento}} - {{s.nombreArchivo}} <button mat-icon-button color="accent" (click)="descargar(s.pathArchivo,s.nombreArchivo)">
    <mat-icon>download</mat-icon></button>
  </mat-list-item>
</mat-list>
</div>
