<mat-card class="container">
  <mat-card-header>
    <mat-card-title>

      Datos del estudio no formal
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="form-container" fxLayout="column wrap">

        <mat-form-field appearance="outline">
          <mat-label>Modalidad academica</mat-label>
          <mat-select formControlName="modalidad">
            <mat-option *ngFor="let t of tiposModalidad" [value]="t.idDato">
              {{t.glsDato}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tipo centro de estudio</mat-label>
          <mat-select formControlName="tipoCentroEstudio" (ngModelChange)="onSelectInstitucion($event)">
            <mat-option *ngFor="let t of tiposCentroEstudio" [value]="t.idInstitucion">
              {{t.glsInstitucion}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tipo de estudio</mat-label>
          <mat-select formControlName="tipoEstudio">
            <mat-option *ngFor="let t of tiposEstudio" [value]="t.idCarreraEducativa">
              {{t.glsCarreraEducativ}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nombre del estudio</mat-label>
          <input matInput formControlName="nombre">
        </mat-form-field>



        <mat-form-field appearance="outline">
          <mat-label>Nombre del centro de estudios</mat-label>
          <input matInput formControlName="nombreCentro">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Pais</mat-label>
          <mat-select formControlName="idDatoPais" (ngModelChange)="onSelectPais($event)">
            <mat-option *ngFor="let s of pais" [value]="s.cod">
              {{s.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="idDpto" (ngModelChange)="onSelectDepartamento($event)">
            <mat-option *ngFor="let s of departamento" [value]="s.cod">
              {{s.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Provincia</mat-label>
          <mat-select formControlName="idProv" (ngModelChange)="onSelectProvincia($event)">
            <mat-option *ngFor="let s of provincia" [value]="s.cod">
              {{s.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Distrito</mat-label>
          <mat-select formControlName="idDist">
            <mat-option *ngFor="let s of distrito" [value]="s.cod">
              {{s.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Tiempo estudiado</mat-label>
          <input matInput formControlName="tiempoEstudiado">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Unidad tiempo</mat-label>
          <mat-select formControlName="tipoTiempo">
            <mat-option *ngFor="let t of tiposTiempo" [value]="t.cod">
              {{t.des}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Promedio Ponderado</mat-label>
          <input matInput formControlName="promedioPonderado">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Fecha de inicio</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fecha de finalizacion</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="fechaFin">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Numero de folio</mat-label>
          <input matInput formControlName="numeroFolio">
        </mat-form-field>

        <div class="upload">
          <app-upload-files [id]="this.idEstudio" [idProceso]="this.idProceso">
          </app-upload-files>
        </div>

      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row wrap" fxLayoutGap="40px">
      <button fxFlex="calc(50%-40px)" mat-raised-button color="primary" (click)="grabar()">
        Registrar
      </button>

      <button fxFlex="calc(50%-40px)" mat-raised-button color="accent" (click)="cancelar()">
        Cancelar
      </button>
    </div>

  </mat-card-actions>
</mat-card>
